# Local temp files for Vim or Mac OS X.
*.swp
.DS_Store

# Python compiled binaries.
__pycache__/

# Python virtual environment.
venv

configlocal.py

# Local CSVs and lock files.
aggregit/var/*.csv
aggregit/var/.~*.csv#
